/* General */
 
* {
    padding: 0;
    margin: 0;
    font-family: 'Rubik Mono One', sans-serif;
    box-sizing: border-box;
}

/* Header */

a {
    text-decoration: none;
    color: black;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    margin: 20px 20px;
    z-index: 1;
}

button {
    border: 0;
    border-radius: 50%;
    padding: 15px 17px;
    margin-right: 25px;
    text-align: center;
    background-color: white;
}



/* Main backgrounds */

section {
    position: relative;
}

#red-bg {
    background-color: red;
    color: yellow;
    height: 100vh;
}


h1 {
    width: 533px;
    margin: 0 auto;
    text-align: center;
    font-size: 35px;
}

.product-container {
    display: absolute;
    right: 50%;
    bottom: 50%; 
    transform: translate(-50%, -50%);
}
