/* General */
 
* {
    padding: 0;
    margin: 0;
    font-family: 'Rubik Mono One', sans-serif;
    box-sizing: border-box;
}

/* Header */

a {
    text-decoration: none;
    color: black;
    font-size: 17px;
}

header {
    position: fixed;
    right: 40px;
    top: 40px;
    z-index: 1;
}

button {
    border: 0;
    border-radius: 50%;
    padding: 15px 17px;
    margin-right: 25px;
    text-align: center;
    background-color: white;
}

/* Main backgrounds */


h1 {
    width: 680px;
    font-size: 45px;
    text-align: center;
}

.product-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* BG */

#red-bg {
    background-color: red;
    color: yellow;
    height: 100vh;
    position: relative;
}

#green-bg {
    background-color: green;
    color: yellow;
    height: 100vh;
    position: relative;
}

#yellow-bg {
    background-color: yellow;
    color: green;
    height: 100vh;
    position: relative;
}